---
  title: Thoughts
  layout: listing
  eleventyExcludeFromCollections: true
  permalink: "blog/{% if pagination.pageNumber > 0 %}{{ posts }}/{% endif %}index.html"
  pagination:
    data: collections.postsByYear
    size: 1
    alias: posts
    reverse: true
---
<h1>Thoughts from {{ posts }}</h1>

<section class="yearGrid">
  <div class="yearGrid__months">
      <abbr title="January">J</abbr>
      <abbr title="February">F</abbr>
      <abbr title="March">M</abbr>
      <abbr title="April">A</abbr>
      <abbr title="May">M</abbr>
      <abbr title="June">J</abbr>
      <abbr title="July">J</abbr>
      <abbr title="August">A</abbr>
      <abbr title="September">S</abbr>
      <abbr title="October">O</abbr>
      <abbr title="November">N</abbr>
      <abbr title="December">D</abbr>
  </div>
  <div class="yearGrid__squares">
    {% for day in range(1, posts|daysInYear + 1) %}
      {% set foundSlug = day|hasPostOnDay(collections.postsByYear[posts]) %}
      {% if foundSlug %}
        <a href="{{ foundSlug.url }}" title="{{ foundSlug.title }}" class="yearGrid__squares__day hasPost"></a>
      {% else %}
        <span class="yearGrid__squares__day"></span>
      {% endif %}
    {% endfor %}
  </div>
</section>

<ul class="listing">
{% for post in collections.postsByYear[posts] | reverse %}
  <li>
    {% if post.data.canonical %}
    <a href="{{ post.data.canonical }}" target="_blank" rel="noopener" class="listing__remote">
    {% else %}
    <a href="{{ post.url }}" class="listing__local">
    {% endif %}
      <span class="vt-thought-title" style="--name: post-{{ post.fileSlug }}">
      <h2>{{ post.data.title }}</h2>
      <date>{{ post.data.date | readableDate }}</date>
      </span>
      <p>{{ post.data.intro }}</p>
    </a>
  </li>
{% endfor %}
</ul>

<div class="yearList">
  <h2>Year archive</h2>

  <ol>
  {%- for pageEntry in pagination.pages %}
      <li>
        <a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>
          <h3>{{ pageEntry }}</h3>
          {{ collections.postsByYear[pageEntry] |length }} thoughts
        </a>
      </li>
  {%- endfor %}
  </ol>
</div>
