---
eleventyExcludeFromCollections: true
layout: listing
breadcrumbs:
  - ['/blog', 'Thoughts']
permalink: /blog/tags/index.html
---

<h1>Thoughts… tagged</h1>

<div class="yearList">
<ol>
{% for tag, posts in collections | tagFilter(["all", "posts", "postsByYear"]) | dictsort %}
  <li>
    <a href="/blog/tags/{{ tag|slug }}">
      <h3>{{ tag }}</h3>
      {{ posts | length }} Thoughts
    </a>
  </li>
{% endfor %}
</ol>
</div>
