---
eleventyExcludeFromCollections: true
layout: listing
permalink: blog/tags/{{ tag | slugify }}/index.html
pagination:
  data: collections.tagList
  size: 1
  alias: tag
breadcrumbs:
  - ['/blog', 'Thoughts']
  - ['/blog/tags', 'Tagged']
eleventyComputed:
  title: Tagged "{{ tag }}"
---
<h1>Thoughts tagged with “{{ tag }}”</h1>

<ul class="listing">
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
  <li>
    {% if post.data.canonical %}
    <a href="{{ post.data.canonical }}" target="_blank" rel="noopener" class="listing__remote">
    {% else %}
    <a href="{{ post.url }}" class="listing__local">
    {% endif %}
      <date>{{ post.data.date | readableDate }}</date>
      {{ post.data.year }}
      <h2>{{ post.data.title }}</h2>
      <p>{{ post.data.intro }}</p>
    </a>
  </li>{% endfor %}
</ul>

<a href="/blog/tags" class="btn">See all tags</a>
