---
eleventyExcludeFromCollections: true
layout: listing
permalink: /blog/tags/index.html
---

<div class="yearList">
<ol>
{% for tag, posts in collections | dictsort %}
  <li>
    <a href="/blog/tags/{{ tag|slug }}">
      <h3>{{ tag }}</h3>
      {{ posts | length }} Thoughts
    </a>
  </li>
{% endfor %}
</ol>
</div>
