<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <link rel="stylesheet" href="/_assets/css/main.css" media="screen" type="text/css">

		<title>{{ metadata.title }}{% if title %} - {{ title }}{% endif %}</title>

    <meta name="description" content="Web Developer | Studied Web Technologies at the University of Lincoln | Currently living in London | Lover of tea | Tweeting @jamesdoc" />
    <meta itemprop="description" content="Web Developer | Studied Web Technologies at the University of Lincoln | Currently living in London | Lover of tea | Tweeting @jamesdoc">
  
    <meta property="og:site_name" content="James Doc" />
    <meta property="og:title" content="James Doc" />
  
    <meta property="og:url" content="http://jamesdoc.com/" />
    <meta property="og:type" content="website" />

    {% if canonical %}
    <link rel="canonical" href="{{ canonical }}" />
    {% endif %}
  
    <link rel="author" href="https://plus.google.com/100482726574378941628/posts">
  
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="http://jamesdoc.com/">
    <meta name="twitter:title" content="James Doc">
    <meta name="twitter:description" content="Web Developer | Studied Web Technologies at the University of Lincoln | Currently living in London | Lover of tea | Tweeting @jamesdoc">
    <meta property="og:description" content="Web Developer | Studied Web Technologies at the University of Lincoln | Currently living in London | Lover of tea | Tweeting @jamesdoc">
    <meta name="twitter:creator" content="@jamesdoc">
    <meta name="twitter:image" content="/_assets/img/twitter.jpg">
    <meta property="og:image" content="/_assets/img/twitter.jpg">
  </head>

  <body>
    <section>
      {{ layoutContent | safe }}
    </section>

    <span class="avatar"></span>
  </body>
</html>
