<!doctype html>
{% if itemtype %}
<html lang="en" itemscope itemtype="{{ itemtype }}">
{% else %}
<html lang="en">
{% endif %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <link rel="stylesheet" href="/_assets/css/main.css" media="screen" type="text/css">

    <title>{{ metadata.title }}{% if title %} - {{ title }}{% endif %}</title>

    <meta name="description" content="{{ intro if intro else metadata.description }}" />
    <meta itemprop="description" content="{{ intro if intro else metadata.description }}">
    <meta property="og:site_name" content="James Doc" />
    <meta property="og:title" content="James Doc{% if title %} - {{ title }}{% endif %}" />
    <meta property="og:url" content="https://jamesdoc.com{{ page.url }}" />
    <meta property="og:type" content="website" />

    {% if canonical %}
    <link rel="canonical" href="{{ canonical }}" />
    {% endif %}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="https://jamesdoc.com{{ page.url }}">
    <meta name="twitter:title" content="James Doc{% if title %} - {{ title }}{% endif %}">
    <meta name="twitter:description" content="{{ intro if intro else metadata.description }}">
    <meta property="og:description" content="{{ intro if intro else metadata.description }}">
    <meta name="twitter:creator" content="@jamesdoc">

    {% if generatedOGimg %}
      <meta name="twitter:image" content="https://jamesdoc.com/_assets/socialPreviews/{{ page.date | htmlDateString('YYYY') }}-{{ title | slugify }}.jpeg">
      <meta property="og:image" content="https://jamesdoc.com/_assets/socialPreviews/{{ page.date | htmlDateString('YYYY') }}-{{ title | slugify }}.jpeg">
    {% else %}
      <meta name="twitter:image" content="{{ leadImage if leadImage else metadata.metaImg }}">
      <meta property="og:image" content="{{ leadImage if leadImage else metadata.metaImg }}">
    {% endif %}

    <link rel="alternate" type="application/rss+xml" title="Blog RSS" href="/blog/feed.xml" />
    <link rel="icon" type="image/svg" href="/_assets/svg/favicon.svg" />

    <meta name="generator" content="{{ eleventy.generator }}" />

    <link rel="me" href="https://octodon.social/@jamesdoc" />
    <link rel="me" href="https://instagram.com/thejamesdoc" />
    <link rel="me" href="https://last.fm/user/jamesdoc" />
    <link rel="me" href="https://github.com/jamesdoc" />

    {% if themeColor %}<style>
    :root {
      --theme: {{ themeColor }}
    }
    </style>{% endif %}
  </head>

  <body>

    <section>
      {{ layoutContent | safe }}
    </section>

    <span class="avatar">
      {% rwdImg "/_assets/img/james.png", "", "150px", "avatar__img", [150, 300], ["webp", "png"] %}
    </span>

    <script async src="/_assets/js/index.js"></script>
    <!-- last build: {{ build.env }} {{ build.timestamp }} -->
  </body>
</html>
