---
layout: default
---

  <nav class="breadcrumbs">
    <a href="/">James Doc</a>
    {% if breadcrumbs %}
    {% for crumb in breadcrumbs %}
      <a href="{{ crumb[0] }}">{{ crumb[1] }}</a>
    {% endfor %}
    {% endif %}
  </nav>

{{ content | safe }}
