.things,
.social_links {
  margin: 0;
  padding: 0;
}

.things {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 40px;
  max-width: 700px;

  a {
    border-bottom: none;
  }

  li {
    border-radius: 2px;
    box-shadow: 0 0 40px 10px rgba(200,200,200,0.50);
    display: block;
    margin-bottom: calc(7vw);
    width: 45%;

    @media (min-width: 600px) {
      width: 30%;
    }

    @media (max-width: 360px) {
      &:first-child {
        width: 100%;
      }
    }

  }
}

.things li a {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75%;
  border-radius: 2px;
  display: block;
  height: 0;
  padding-bottom: 100%;
  text-indent: -99999px;
  transition: background-size .5s ease-out;
  width: 100%;
}

.things li a[href^="https://kingdom"] {
  background-color: $kingdomcodeOrange;
  background-image: url('/_assets/svg/kingdomcode.svg');
  background-size: 50%;
}

.things li a[href^="https://kingdom"]:hover {
  background-size: 25%;
}

.things li a[href^="https://www.globe"] {
  background-color: $globeOrange;
  background-image: url('/_assets/svg/globe.svg');
}

.things li a[href^="https://www.globe"]:hover {
  background-size: 50%;
}

.things li a[href^="http://live"] {
  background-color: $livewiresBlue;
  background-image: url('/_assets/svg/livewires.svg');
  background-size: 40%;
}

.things li a[href^="http://live"]:hover {
  background-size: 25%;
}

@media (min-height: 600px) and (min-width: 600px) {
  footer {
    bottom: 40px;
    position: absolute;
  }
}

.social_links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social_links li {
  padding-right: 40px;
}

@media (min-width: 600px) {
  .social_links li {
    display: inline;
  }
}

.social_links li:after {
  content: '.';
}

.social_links a {
  border-bottom: 1px solid white;
  color: #1e2b16;
  text-decoration: none;
  transition: color .2s, border-color .2s;
}

.social_links a:hover {
  border-bottom: 1px solid;
}

.social_links a[href^="https://twitter"]:hover {
  color: #1da1f1;
  border-color: #1da1f1;
}

.social_links a[href^="https://instagram"]:hover {
  border-color: #9e35c3;
  color: #9e35c3;
}

.social_links a[href^="https://last"]:hover {
  border-color: #d21308;
  color: #d21308;
}
