.things,
.social_links {
  margin: 0;
  padding: 0;
}

.things {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 5%;
  grid-column-gap: 5%;
  list-style-type: none;
  margin-top: 40px;
  max-width: 700px;

  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &--smaller {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 2em;
  }

  a {
    border-bottom: none;
  }

  li {
    display: block;
    margin-bottom: auto;
    width: 100%;
  }
}

footer {
  padding-top: 40px;
}

.homepage {
  footer {
    @media (min-height: 600px) and (min-width: 600px) {
      bottom: 40px;
      position: absolute;
    }
  }
}

.social_links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social_links li {
  padding-right: 20px;
}

@media (min-width: 600px) {
  .social_links li {
    display: inline;
  }
}

.social_links li:after {
  content: ".";
}

.social_links a {
  border-bottom: 1px solid white;
  color: var(--text);
  text-decoration: none;
  transition: color 0.2s, border-color 0.2s;
}

.social_links a:hover {
  border-bottom: 1px solid;
}

.social_links a[href^="/now"]:hover,
.social_links a[href^="/resume"]:hover,
.social_links a[href^="/blog"]:hover {
  color: var(--theme);
  border-color: var(--theme);
}

.social_links a[href^="https://twitter"]:hover
{
  color: #1da1f1;
  border-color: #1da1f1;
}

.social_links a[href^="https://mas.to"]:hover
{
  color: #595aff;
  border-color: #595aff;
}

.social_links a[href^="https://instagram"]:hover
{
  border-color: #9e35c3;
  color: #9e35c3;
}

.social_links a[href^="https://last"]:hover
{
  border-color: #d21308;
  color: #d21308;
}

.social_links a[href^="https://github"]:hover
{
  border-color: #4078c0;
  color: #4078c0;
}
