.things,
.social_links {
  margin: 0;
  padding: 0;
}

.things {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 5%;
  grid-column-gap: 5%;
  list-style-type: none;
  margin-top: 40px;
  max-width: 700px;

  @media (min-width: 600px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &--smaller {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 2em;
  }

  a {
    border-bottom: none;
  }

  li {
    display: block;
    margin-bottom: auto;
    width: 100%;
  }
}

.things li a {
  border-radius: 2px;
  box-shadow: 0 0 40px 10px rgba(200,200,200,0.50);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 75%;
  border-radius: 2px;
  display: block;
  height: 0;
  padding-bottom: 100%;
  text-indent: -99999px;
  transition: background-size .5s ease-out;
  width: 100%;
}

.things li a[href^="https://kingdom"] {
  background-color: $kingdomcodeOrange;
  background-image: url('/_assets/svg/kingdomcode.svg');
  background-size: 50%;
}

.things li a[href^="https://kingdom"]:hover {
  background-size: 25%;
}

.things li a[href^="https://onesheep"] {
  background-color: $onesheepPink;
  background-image: url('/_assets/svg/onesheep.svg');
  background-size: 100%;
}

.things li a[href^="https://onesheep"]:hover {
  background-size: 50%;
}

.things li a[href^="https://www.globe"] {
  background-color: $globeOrange;
  background-image: url('/_assets/svg/globe.svg');
  transition: all .2s ease-out;
}

.things li a[href^="https://www.globe"]:hover {
  border-radius: 50%;
  transform: scale(1.3);
}

.things li a[href^="https://live"] {
  background-color: $livewiresBlue;
  background-image: url('/_assets/svg/livewires.svg');
  background-size: 40%;
}

.things li a[href^="https://live"]:hover {
  background-size: 25%;
}

.things li a[href^="https://www.lincoln"] {
  background-color: $lincolnGreen;
  background-image: url('/_assets/svg/university-of-lincoln.svg');
  background-size: 50%;
}

.things li a[href^="https://www.lincoln"]:hover {
  background-size: 30%;
}

.things li a[href^="https://ifes"] {
  background-color: $ifesBlackcurrent;
  background-image: url('/_assets/svg/ifes.svg');
  background-size: 40%;
}

.things li a[href^="https://ifes"]:hover {
  background-size: 25%;
}

.things li a[href^="https://vam"] {
  background-color: $vandaTeal;
  background-image: url('/_assets/svg/v-and-a.svg');
  background-size: 75%;
}

.things li a[href^="https://vam"]:hover {
  background-size: 50%;
}

.things li a[href^="https://www.sparks"] {
  background-color: $sparksBlack;
  background-image: url('/_assets/svg/sparks.svg');
  background-size: 120%;
}

.things li a[href^="https://www.sparks"]:hover {
  background-size: 100%;
}

footer {
  padding-top: 40px;

  @media (min-height: 600px) and (min-width: 600px) {
    bottom: 40px;
    position: absolute;
  }
}

.social_links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social_links li {
  padding-right: 40px;
}

@media (min-width: 600px) {
  .social_links li {
    display: inline;
  }
}

.social_links li:after {
  content: '.';
}

.social_links a {
  border-bottom: 1px solid white;
  color: #1e2b16;
  text-decoration: none;
  transition: color .2s, border-color .2s;
}

.social_links a:hover {
  border-bottom: 1px solid;
}

.social_links a[href^="/blog"]:hover {
  color: #a3de87;
  border-color: #a3de87;
}

.social_links a[href^="https://twitter"]:hover {
  color: #1da1f1;
  border-color: #1da1f1;
}

.social_links a[href^="https://instagram"]:hover {
  border-color: #9e35c3;
  color: #9e35c3;
}

.social_links a[href^="https://last"]:hover {
  border-color: #d21308;
  color: #d21308;
}

.social_links a[href^="https://github"]:hover {
  border-color: #4078c0;
  color: #4078c0;
}
