.listing {
  list-style: none;
  padding: 0;

  li {
    padding: 0 0 1.5rem;
  }

  date {
    font-size: 0.825rem;
  }

  h2,
  h3 {
    margin: 0;
    padding: 0;
    line-height: 1.2;
  }

  p {
    font-size: 100%;
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
  }

  date {
    border-bottom: 1px solid var(--theme);
  }

  a.listing__remote h2:after {
    color: $themeGreen;
    content: "⇢";
  }

  img {
    max-width: initial;
    width: 100%;
    height: auto;
  }

  &--reading--cols {
    @media (min-width: 1000px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
  }

  &__header {
    grid-column: 1/-1;
    font-weight: bold;
  }

  &--reading__book {
    max-width: initial;

    img {
      max-width: 150px;
      box-shadow: 0 0 20px 5px var(--glow);
      border-radius: 3px;
      transition: all 0.25s;

      &:hover {
        box-shadow: none;
      }
    }

    picture, img {
      flex: 0 0 auto;
    }

    h2,
    h3 {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    @media (min-width: 465px) {
      display: flex;
      gap: 1rem;
    }
  }
}

.yearList {
  h2 {
    display: inline-block;

    &:before {
      content: "/";
    }

    &:after {
      color: var(--theme);
      content: "_";
    }
  }

  ol {
    list-style: disc;
  }

  h3 {
    border-bottom: 1px solid var(--theme);
    margin-bottom: 0;
    transition: color 0.25s, border 0.25s;
  }

  a {
    border-bottom: 0;
    display: block;
  }

  a:hover h3 {
    border-bottom-color: black;
  }
}
