.nowGrid {
  display: grid;
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    max-width: 1000px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 3fr 2fr;
    max-width: 1400px;
  }
}

.nowList{
  padding:  0 0 40px;

  @media (min-width: 1200px) {
    column-count: 2;
    gap: 2rem;
  }

  li {
    list-style-type: none;
    break-inside: avoid-column;
  }
}

.nowList__album {
  height: 1.1em;
  width: 1.1em;
  border-radius: 2px;
  box-shadow: 0 0 5px 2px var(--glow);
}

.nowList__list {
  margin: 1rem 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    margin: 0 0 0.5rem;
  }

  picture, img {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    box-shadow: 0 0 5px 2px var(--glow);
    flex-shrink: 0;
  }
}

.recent-played,
.recent-played-track {
  display: inline;
  font-size: inherit;
  line-height: inherit;
}
