.gist {
  max-width: 750px;
}

.thought-content {
  img {
    border-bottom: 5px solid $themeGreen;
    max-width: 550px;
    width: 100%;
  }

  li {
    line-height: inherit;
  }
}

.thought-canonical {
  display: block;
  font-size: .75em;
  margin-top: 2em;
}

.thought-lead-image {
  border-bottom: 5px solid $themeGreen;
  margin-bottom: 1em;
  max-width: 550px;
  width: 100%;
}
