$themeGreen: hsl(101, 57%, 70%);
$kingdomcodeOrange: hsl(3, 82%, 63%);
$globeOrange: hsl(12, 59%, 55%);
$livewiresBlue: hsl(197, 69%, 51%);
$onesheepPink: hsl(338, 100%, 57%);
$ifesBlackcurrent: hsl(248, 43%, 21%);
$vandaTeal: hsl(189, 100%, 32%);
$lincolnGreen: hsl(61, 98%, 35%);
$sparksBlack: hsl(0, 0%, 0%);
$vixenOrange: hsl(14, 75%, 51%);

/* latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_assets/fonts/spaceGrot400.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_assets/fonts/spaceGrot700.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  --background: hsl(0, 0%, 100%);
  --text: hsl(97, 32%, 8%);
  --theme: hsl(101, 57%, 70%);
  --glow: hsla(0, 0%, 78%, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 88%);
    --glow: hsla(0, 0%, 36%, 0.5);
  }

  picture,
  img {
    filter: brightness(0.9) contrast(1.1);
  }
}

html,
body {
  background-color: var(--background);
  font-family: "Space Mono", monospace;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-wrap: pretty;
  transition: background-color 0.5s;
  scroll-behavior: smooth;
}

.avatar {
  bottom: 0;
  height: 150px;
  position: fixed;
  right: 0;
  width: 150px;

  &__img {
    max-width: initial;
    width: 100%;
    height: auto;
  }
}

body {
  color: var(--text);
}

.outline {
  border-radius: 4px;
  box-shadow: 0 0 40px 10px var(--glow);
  margin: 20px;
  min-height: calc(100vh - 120px);
  padding: 40px;
  position: relative;

  @media (min-width: 980px) {
    margin: 40px;
    min-height: calc(100vh - 160px);
  }
}

h1, h2, h3 {
  scroll-margin-top: 1rem;
}

h1 {
  font-size: 2em;
  letter-spacing: 1.5px;
  line-height: 1;
  margin: 0 0 10px;
  padding: 0;

  &:before {
    content: "/";
  }

  &:after {
    color: var(--theme);
    content: "_";
  }

  @media (min-width: 485px) {
    font-size: 3em;
  }
}

li,
p,
code {
  font-size: 1em;
  line-height: 1.45em;
  margin: 0 0 1em;
  width: 100%;

  @media (min-width: 485px) {
    font-size: 1.25em;
    line-height: 1.6em;
  }
  @media (min-width: 630px) {
    max-width: 550px;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

code {
  color: darken($themeGreen, 40%);
}

@media (prefers-color-scheme: dark) {
  code {
    color: $themeGreen;
  }
}

a {
  text-decoration: underline;
  text-decoration-color: var(--theme);
  color: var(--text);
  outline: none;
  transition: color 0.25s, border 0.25s;

  &:hover {
    text-decoration-color: var(--text);
  }
}

blockquote {
  border-left: 5px solid var(--theme);
  font-style: italic;
  margin: 1em 0;
  padding-left: 1em;

  @media (min-width: 630px) {
    max-width: 575px;
  }
}

.breadcrumbs {
  padding: 10px 0;

  a:before {
    content: "/";
    padding-right: 2px;
  }
}

img {
  max-width: 100%;
}

pre {
  overflow-x: scroll;

  code {
    line-height: 2em;
    font-style: normal;
  }
}

hr {
  border: 0 solid var(--theme);
  border-top: 5px solid var(--theme);
  margin-bottom: 1em;
}

@import "homepage";
@import "thoughts";
@import "listing";
@import "btn";
@import "shopLinks";
@import "boxedMessage";
@import "embedWrapper";
@import "nowList";
@import "role";
@import "logo";
@import "bio";
@import "utility";
@import "timeline";
@import "viewTransitions";
@import "yearGrid";

@import "prism";
