---
layout: layouts/base.njk
---

<header>
  <h1>{{ metadata.title }}</h1>
  <p>{{ metadata.subtitle }}</p>
</header>

<ul class="things">
  <li><a href="https://www.globe.church" aria-label="The Globe Church" target="_blank" rel="noopener">The Globe Church</a></li>
  <li><a href="https://kingdomcode.org.uk" aria-label="Kingdom Code" target="_blank" rel="noopener">Kingdom Code</a></li>
  <li><a href="http://livewires.org.uk" aria-label="Live Wires" target="_blank" rel="noopener">Live Wires</a></li>
</ul>

<footer>
  <ul class="social_links">
    <li><a href="/blog">Thoughts</a></li>
    <li><a href="https://twitter.com/jamesdoc" target="_blank" rel="noopener">Twitter</a></li>
    <li><a href="https://instagram.com/thejamesdoc" target="_blank" rel="noopener">Instagram</a></li>
    <li><a href="https://last.fm/user/jamesdoc" target="_blank" rel="noopener">Last.fm</a></li>
    <li><a href="https://github.com/jamesdoc" target="_blank" rel="noopener">Github</a></li>
  </ul>
</footer>
