---
title: Four Oh Four
layout: default
eleventyExcludeFromCollections: true
permalink: 404.html
---

<header>
  <h1>404.</h1>
  <p>Nope. This page does not exist.</p>
  <p><a href="/">Go home</a>.</p>
</header>
