---
layout: default
eleventyExcludeFromCollections: true
---

<div class="homepage">
  <header>
    <h1>{{ metadata.title }}</h1>
    <p>Sitting at the intersection of Christianity and&nbsp;technology…</p>
  </header>

  <ul class="things">
    <li><a class="logo" href="{{ now.employment[0].url }}" aria-label="{{ now.employment[0].name }}" target="_blank" rel="noopener">{{ now.employment[0].name }}</a></li>
    <li><a class="logo" href="https://globe.church" aria-label="The Globe Church" target="_blank" rel="noopener">The Globe Church</a></li>
    <li><a class="logo" href="https://discipleship.tech" aria-label="Discipleship Tech" target="_blank" rel="noopener">Discipleship Tech</a></li>
    {# <li><a class="logo" href="https://kingdomcode.org.uk" aria-label="Kingdom Code" target="_blank" rel="noopener">Kingdom Code</a></li>
    <li><a class="logo" href="https://livewires.org.uk" aria-label="Live Wires" target="_blank" rel="noopener">Live Wires</a></li> #}
  </ul>

  {#
  <ul class="things things--smaller">
    <li><a href="https://onesheep.org/" aria-label="OneSheep" target="_blank" rel="noopener">OneSheep</a></li>
    <li><a href="https://www.globe.church" aria-label="The Globe Church" target="_blank" rel="noopener">The Globe Church</a></li>
    <li><a href="https://www.sparks-studio.com" aria-label="Sparks Studio" target="_blank" rel="noopener">Sparks Studio</a></li>
    <li><a href="https://vam.ac.uk" aria-label="Victoria and Albert Museum" target="_blank" rel="noopener">V&amp;A</a></li>
    <li><a href="https://ifesworld.org" aria-label="The International Fellowship of Evangelical Students" target="_blank" rel="noopener">IFES</a></li>
    <li><a href="https://www.lincoln.ac.uk" aria-label="University of Lincoln" target="_blank" rel="noopener">University of Lincoln</a></li>
  </ul>
  #}

  {% include './_includes/partials/footer.njk' %}
</div>
