---
title: Now
layout: listing
eleventyExcludeFromCollections: true
itemtype: 'https://schema.org/FAQPage'
---
{% set currentBooks = readingList | activeBook %}
{% set latestPost = collections.posts | reverse | first %}

<h1>Now</h1>

<p>Rather than an about page… this is a list of things that are going on <a href="https://nownownow.com/about">now</a>.</p>

<ul class="nowList">
  <li itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
   <span itemprop="name">Where are you?</span>
   <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
    <span itemprop="text"><a href="{{ now.location.url }}">{{ now.location.name }}</a></span>
   </div>
  </li>

  <li itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <span itemprop="name">Where are you working?</span>
    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
      <span itemprop="text"><a href="{{ now.employer.url }}">{{ now.employer.name }}</a></span>
    </div>
  </li>

  {# <li>
    Current toolbox:<br />
    {% for tool in now.toolbox %}
      <a href="{{ tool.url }}" target="_blank" rel="noopener">{{ tool.name }}</a>{% if loop.last != true %}, {% endif %}
    {% endfor %}
  </li> #}

  <li itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <span itemprop="name">What's the latest blog post?</span>
    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
      <span itemprop="text"><a href="{{ latestPost.url }}">{{ latestPost.data.title }}</a></span>
    </div>
  </li>

  <li itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <span itemprop="name">What books are being read right now?</span>
    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
      <span itemprop="text">
      {% for book in currentBooks %}
        {{ book.name }} <em>({{ book.additional.author }})</em>{% if loop.last != true %},{% endif %}<br />
      {% endfor %}
      <a href="/reading-list">View the full reading list</a>
      </span>
    </div>
  </li>
</ul>

<p><a href="/">Back</a></p>
