---
title: Reading list
layout: listing
eleventyExcludeFromCollections: false
---
<h1>Reading list</h1>

{% set currentBooks = readingList | activeBook %}
{% if currentBooks | length > 0 %}
  <h2>Currently reading:</h2>
  <div class="listing listing--reading">

  {% for book in currentBooks %}
    <div class="listing--reading__book">
      {# For some reason Nunjucks doesn't like this going into the partial #}
      {% if book.cover.scaled %}
        {% set cover = book.cover.scaled | last %}
        {% imgBookCover cover.url, "Book Cover", [75, 100, 150], "", "150px" %}
      {% endif %}

      {% include "./_includes/partials/bookDetails.njk" %}
    </div>
  {% endfor %}

  </div>
{% endif %}

<h2>Previously read:</h2>
{% set y = null %}
<div class="listing listing--reading listing--reading--cols">
{% for book in readingList|sort(true, true, 'epoch') %}
  {% if book.readDate %}

  {% if y != book.readDate | htmlDateString('YYYY') %}
    {% set y = book.readDate | htmlDateString('YYYY') %}
    <div class="listing__header">
      {{ y }}
    </div>
  {% endif %}

  <div class="listing--reading__book">
    {% if book.cover.scaled %}
      {% set cover = book.cover.scaled | last %}
      {% imgBookCover cover.url, "Book Cover", [150, 300], "", "150px" %}
    {% endif %}

    {% include "./_includes/partials/bookDetails.njk" %}
  </div>

  {% endif %}
{% endfor %}
</div>

<hr />

<p>Data imported from Trello. <a href="https://trello.com/b/{{ metadata.readingListId }}" target="_blank" rel="noopener">Go to the board</a>.</p>
