<div itemscope itemtype="https://schema.org/Book">
  <h3 itemprop="name">{{ book.name }}</h3>

  {% if book.additional.author %}
  <p itemprop="author" itemscope itemtype="https://schema.org/Person">{{ book.additional.author }}</p>
  {% endif %}

  {% if book.readDate %}
    <p>Finished: {{ book.readDate | readableDate }}</p>
  {% endif %}

  {% if book.additional.isbn %}
    <p>
      Find on:
        {% if book.additional.christian %}
        <a href="https://10ofthose.com/uk/products?q={{ book.additional.isbn }}" target="_blank" rel="noopener">10ofThose.com</a>
        &nbsp;&middot;&nbsp;
        <a href="https://thegoodbook.co.uk/search?q={{ book.additional.isbn }}" target="_blank" rel="noopener">The Good Book Company</a></li>
        {% else %}
        <a href="https://amazon.co.uk/s?k={{ book.additional.isbn }}" target="_blank" rel="noopener">Amazon</a></li>
        &nbsp;&middot;&nbsp;
        <a href="https://www.waterstones.com/books/search/term/{{ book.additional.isbn }}" target="_blank" rel="noopener">Waterstones</a></li>
        &nbsp;&middot;&nbsp;
        <a href="https://abebooks.co.uk/servlet/SearchResults?isbn={{ book.additional.isbn }}" target="_blank" rel="noopener">Abebooks</a></li>
        {% endif %}
        &nbsp;&middot;&nbsp;
        <a href="https://goodreads.com/search?q={{ book.additional.isbn }}" target="_blank" rel="noopener">GoodReads</a>
    </p>
  {% endif %}

  {% if book.additional['page-count'] %}
  <p>{{ book.additional['page-count'] }} pages</p>
  {% endif %}

  {% if book.additional.stars %}
  <p>{{ book.additional.stars }} {{ "star" if book.additional.stars == "1" else "stars" }}</p>
  {% endif %}
</div>
