<footer>
  <ul class="social_links">
    <li><a href="/now">Now</a></li>
    <li><a href="/blog">Thoughts</a></li>
    <li><a href="https://twitter.com/jamesdoc" target="_blank" rel="me noopener">Twitter</a></li>
    <li><a href="https://instagram.com/thejamesdoc" target="_blank" rel="me noopener">Instagram</a></li>
    <li><a href="https://last.fm/user/jamesdoc" target="_blank" rel="me noopener">Last.fm</a></li>
    <li><a href="https://github.com/jamesdoc" target="_blank" rel="me noopener">Github</a></li>
  </ul>
</footer>
